<link href="css/usercommon.css" rel="stylesheet"/>
<link href="css/photo.css" rel="stylesheet"/>
<div ng-controller="InfophotoController" class="init-controller">
	<div class="right-wrap-left-menu">
			<div class="right-wrap-left-menu-title">相册列表</div>
			<ul class="right-wrap-left-menu-ul opacity9">
				<li class="active">苏州风景</li>
				<li>南京风景</li>
				<li>上海风景</li>
				<li>无锡风景</li>
				<li>阜阳风景</li>
				<li>阜阳风景</li>
				<li>无锡风景</li>
			</ul>
	</div>
	<div class="right-wrap-right-container">
		<div class="main-body-section" bindonce="">
    		<div class="main-body-title console-title-border clearfix">
    			<h5 class="main-body-title-text">苏州风景</h5>
    		</div>
	</div>
</div>