<div class="main-body" ng-controller="UserpasswordController">
<link href="css/usercommon.css" rel="stylesheet"/>
    <div class="" ng-animate="{enter:'fade-enter'}">
    	<div class="main-body-section" bindonce="">
    		<div class="main-body-title console-title-border clearfix">
    			<h5 class="main-body-title-text">安全设置</h5>
    		</div>
    		<div class="main-body-content clearfix secure">
    			<div class=" pull-left">
    				<div class="secure-level">
    					<div class="pull-left" >
    						您当前的账号安全程度
    					</div>
    					<div class="progress pull-left margin-left-4" style="width:200px">
    						<span class="progress-bar  progress-bar-danger width_33_percent">
    						</span>
    					</div>
    					<div class="margin-left-4 pull-left">
    						<span bo-bind="'account.security.setting.lb.level.security' | translate">
    							安全级别
    						</span>
    							: 
    						<span class="text-warning ng-binding">低</span>
    					</div>
    					<div class="margin-left-4 pull-left ng-binding">
    						建议开启安全产品
    					</div>
    				</div>
    			</div>
      	</div>
      	<div class="security-settings">
      		<ul class="secure-set-list">
      			<li class="ng-scope">
      				<div class="set-list-left pull-left">
      					<b >登录密码</b>
      				</div>
      				<div class="set-list-right pull-right">
      				<span class="text-success">
      					<span  class="ng-binding">已设置</span>
      				</span> 
      				<span class="text-explode">|</span> 
      				<span class="link-operation">
      					<a href="#####">
      						修改
      					</a>
      				</span>
      			</div>
      			<div class="set-list-mid">
      				<div class="inner ng-binding">
      					安全性高的密码可以使帐号更安全。建议您定期更换密码，设置一个包含字母，符号或数字中至少两项且长度超过6位的密码。
      				</div>
      			</div>
      		</li>
     			<li class="ng-scope">
     				<div class="set-list-left pull-left">
     					<b >密保问题</b>
     				</div>
     				<div class="set-list-right pull-right">
     				<span class="text-warning">
     					<span  class="ng-binding">未设置 </span>
     				</span> 
     				<span class="text-explode">|</span> 
     				<span class="link-operation">
     					<a href="#####">
     						 设置
     					</a>
     				</span>
     			</div>
     			<div class="set-list-mid">
     				<div class="inner ng-binding">
     					是您找回登录密码的方式之一。建议您设置三个容易记住，且最不容易被他人获取的问题及答案，更有效保障您的密码安全。
     				</div>
     			</div>
     		</li>
      		</ul>
       </div>
       <div>
       	<form class="password-form">
					<h5 class="main-body-form-title-text secure-title">修改密码</h5>
					<fieldset>
				  <div class="form-group">
				    <label for="jiedaodizhi" class="col-sm-4 control-label label-title"><span>原密码</span><span bo-bind="'colon' | translate">：</span></label>
				    <input type="text" class=" col-sm-4 form-control" id="jiedaodizhi" placeholder="邮箱/手机号/会员账号">
				  </div>
				  <div class="form-group">
				    <label for="telphone" class="col-sm-4 control-label label-title"><span>新密码</span><span bo-bind="'colon' | translate">：</span></label>
				    <input type="email" class=" col-sm-4 form-control" id="telphone" placeholder="邮箱/手机号/会员账号">
				  </div>
				  <div class="form-group">
				    <label for="telphone" class="col-sm-4 control-label label-title"><span>确认新密码</span><span bo-bind="'colon' | translate">：</span></label>
				    <input type="email" class=" col-sm-4 form-control" id="telphone" placeholder="邮箱/手机号/会员账号">
				  </div>
				 
				  <div class="form-group">
				  	<span></span>
				    <label for="" class="col-sm-4 control-label label-title"></label>
				  	<button id="submit" type="button" class="col-sm-4 btn btn-primary submit btn-block form-control">保存</button>
				  </div>
				  </fieldset>
				</form>
       </div>
	</div>
</div>