<div class="main-body" ng-controller="UserinfoController">
<link href="css/usercommon.css" rel="stylesheet"/>
    <div class="" ng-animate="{enter:'fade-enter'}">
    	<div class="main-body-section" bindonce="">
    		<div class="main-body-title console-title-border clearfix">
    			<h5 class="main-body-title-text">安全设置</h5>
    		</div>
    		<div class="main-body-content clearfix">
    			<div class="avatar pull-left">
    				<p>
    					<img ng-src="https://gtd.alicdn.com/tps/i2/TB1KlQRHpXXXXcCXFXXrywt4VXX-120-120.png" width="120" height="120" src="https://gtd.alicdn.com/tps/i2/TB1KlQRHpXXXXcCXFXXrywt4VXX-120-120.png">
    				</p>
    				<p class="avatar-txt">
    					<a modify-avatar="" selected-value="gtd.alicdn.com/tps/i2/TB1KlQRHpXXXXcCXFXXrywt4VXX-120-120.png" bo-bind="'account.security.setting.modify.avatar' | translate" class="ng-isolate-scope">
    						修改头像
    					</a>
    				</p>
    			</div>
    			<div class="summary">
    					<p class="">
    						<span class="login-acount-title">登录账号</span>
    						<span class="login-acount-text">：</span> 
    							yu1****@163.com 
    						<a ng-if="vm.securitySettingsActionType.email.modifyEmail" href="https://account.aliyun.com/profile/setting.htm?actionType=email_modify&amp;locale=zh" bo-bind="'accountcenter.common.change' | translate" class="ng-scope">
    							修改<span><a class="edit-email">修改</a></span>(<span class="email-valid">您已通过邮箱认证</span>)
    						</a>
    						
    					</p>
    					<p class="">
    						<span class="login-acountId-title">账号ID</span> 
    						<span class="login-acountId-text">：</span>
     							1412253948981628
     					</p>
					    <p class="">
					    	<span class="register-time-title">注册时间</span>
      					<span class="register-time-text">：</span>
      						2016-01-28 10:43:01
      				</p>
      		</div>
      	</div>
      	<div class="alert alert-info" >请完善以下信息,方便我们更好的为您服务</div>
      	
				<form>
					<h5 class="main-body-form-title-text">基本信息</h5>
					<fieldset>
					 <div class="form-group">
				    <label for="exampleInputEmail1" class="col-sm-4 control-label label-title"><span>主要行业</span><span bo-bind="'colon' | translate">：</span></label>
				    <div class="">
				    	<select name="zyhy" class="col-sm-4 form-control select-control ng-valid">
					    	<option value="0" selected="selected">北京</option>
					    	<option value="1">天津</option>
					    	<option value="2">河北省</option>
					    	<option value="3">山西省</option>
					    	<option value="4">内蒙古自治区</option>
					    	<option value="5">辽宁省</option>
							</select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="diqu" class="col-sm-4 control-label label-title"><span>地区</span><span bo-bind="'colon' | translate">：</span></label>
				    <div>
				    <select name="zyhy" class="col-sm-4 form-control select-control ng-valid">
					    	<option value="0" selected="selected">北京</option>
					    	<option value="1">天津</option>
					    	<option value="2">河北省</option>
					    	<option value="3">山西省</option>
					    	<option value="4">内蒙古自治区</option>
					    	<option value="5">辽宁省</option>
							</select>
							<select name="zyhy" class="col-sm-4 form-control select-control ng-valid">
					    	<option value="0" selected="selected">北京</option>
					    	<option value="1">天津</option>
					    	<option value="2">河北省</option>
					    	<option value="3">山西省</option>
					    	<option value="4">内蒙古自治区</option>
					    	<option value="5">辽宁省</option>
							</select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="jiedaodizhi" class="col-sm-4 control-label label-title"><span>街道地址</span><span bo-bind="'colon' | translate">：</span></label>
				    <input type="text" class=" col-sm-4 form-control" id="jiedaodizhi" placeholder="邮箱/手机号/会员账号">
				  </div>
				  <div class="form-group">
				    <label for="telphone" class="col-sm-4 control-label label-title"><span>联系电话</span><span bo-bind="'colon' | translate">：</span></label>
				    <input type="email" class=" col-sm-4 form-control" id="telphone" placeholder="邮箱/手机号/会员账号">
				  </div>
				 
				  <div class="form-group">
				  	<span></span>
				    <label for="" class="col-sm-4 control-label label-title"></label>
				  	<button id="submit" type="button" class="col-sm-4 btn btn-primary submit btn-block form-control">登录</button>
				  </div>
				  </fieldset>
				</form>
		</div>
	</div>
</div>
