<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mnuocom.lifeworld.dao.BabytimelineDao" >
  <resultMap id="BaseResultMap" type="com.mnuocom.lifeworld.entity.Babytimeline" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="descript" property="descript" jdbcType="VARCHAR" />
    <result column="image_url" property="imageUrl" jdbcType="VARCHAR" />
    <result column="created_Time" property="createdTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <insert id="insert" parameterType="com.mnuocom.lifeworld.entity.Babytimeline" >
    insert into lw_baby_images (id, time, descript, 
      image_url, created_time)
    values (#{id,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP}, #{descript,jdbcType=VARCHAR}, 
      #{imageUrl,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP})
  </insert>
 <select id="selectByTime" resultMap="BaseResultMap" parameterType="com.mnuocom.lifeworld.entity.Babytimeline" >
	 select time,SUBSTRING_INDEX(GROUP_CONCAT(image_url), ',', 4) image_url
	 from lw_baby_images
	 <if test="time != null" >
		 <![CDATA[ 
		 where time < #{time}
		 ]]>  
	 </if>
	 group by time
	 ORDER BY time desc
	 limit 0,8;
  </select>
  <select id="selectByOneTime" resultMap="BaseResultMap" parameterType="com.mnuocom.lifeworld.entity.Babytimeline" >
	 select *
	 from lw_baby_images
	 <if test="time != null" >
		 <![CDATA[ 
		 where time = #{time}
		 ]]>  
	 </if>
	 ORDER BY id desc
  </select>
</mapper>