<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/favicon.ico"  media="screen"/>
    <title>莫诺云科技-用户中心系统</title>
  	<link rel="stylesheet" href="css/index.css">
  	<link href="../../libs/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
  	<link href="css/iconfont/iconfont.css" rel="stylesheet">
</head>
<body>
		<div class="wrap" ng-controller="IndexController" ng-init="initializeController()">
				<header class="per-header">
					<div class="per-title">
						<div class="left-title">
							<a href="#" class="icon-title"><span class="icon-logo"></span></a>
						</div>
						<div class="main-title opacity9"><span>中心管理</span></div>
						<div class="main-title-right opacity9"><span>yu11115@163.com</span></div>
						<div class="main-title-right opacity9"><span>帮助文档</span></div>
					</div>
				</header>
				<div class="per-left-title content-font" ng-class="{true:'',false:'per-left-title-displaytext'}[display.togger]">
					<div class="contant-left-title"  ng-class="{true:'',false:'per-left-title-displaytext'}[display.togger]" ng-click="togger()">
						<i class="iconfont"  ng-class="{true:'icon-caidanmian',false:'icon-daohangcaidan-copy'}[display.togger]"></i>
					</div>
					<div class="left-li">
						<ul ng-repeat="data in data.navList">
							<li class="contant-left-title-tail" ng-class="{true:'hidden-lis',false:''}[!data.showItem]" ng-click="showItem($index)">
								<i class="iconfont"  ng-class="{true:'icon-icon',false:'icon-control-arr'}[!data.showItem]"></i>
								<span ng-show="display.togger" ng-bind="data.name"></span>
							</li>
							<li class="contant-left-li" ng-repeat="elem in data.list" ng-show="data.showItem" ng-click="changeItem($parent.$index,$index)">
								<a href="#/{{elem.url}}" >
									<i class="iconfont" ng-class="elem.avater"></i>
									<span ng-show="display.togger" ng-bind="elem.name"></span>
								</a>
							</li>
							
					</div>
				</div>
				<div id="container" ng-class="{true:'',false:'container-toggle'}[display.togger]" >
						<div class="wrap-container">
								<div class="child-wrap content-right" ui-view></div>
						</div>
				</div>
		</div>
		<script data-baseurl="./" data-main="js/main.js" src="../../js/require.js" id="main"></script>
</body>
</html>